<div>
    <a class="favorite-button mr-2 text-neutral-500 text-lg md:text-xl cursor-pointer"><i class="{{#if favoriteid}}fa-solid dark:text-green-500 {{else}}fa-regular{{/if}} fa-heart" data-recipeid="{{id}}" data-userid = "{{userID}}" data-favoriteid="{{favoriteid}}"></i></a>
    <a class="share-button text-neutral-500 text-lg md:text-xl cursor-pointer" onclick="copyToClipboard('https://www.putasporkinit.co/recipe/{{id}}')"><i class="fa-regular fa-paper-plane"></i></a>
</div>
