<div class="flex columns-3 justify-between gap-2">
    <a class="upvote-button text-neutral-500 text-lg md:text-xl cursor-pointer"><i class="{{#if upvote}} fa-solid dark:text-green-500 {{else}} fa-regular hover:text-green-500{{/if}} fa-thumbs-up" data-recipeid="{{id}}" data-userid = "{{userID}}" data-vote="{{userVote}}"></i></a>
    <p class="text-neutral-500 text-lg"> {{upvoteCount}} </p>
    <a class="downvote-button text-neutral-500 text-lg md:text-xl cursor-pointer"><i class="{{#if downvote}}fa-solid dark:text-red-500 {{else}} fa-regular hover:text-red-500{{/if}} fa-thumbs-down" data-recipeid="{{id}}" data-userid = "{{userID}}" data-vote="{{userVote}}"></i></a>
</div>