<section class="bg-neutral-100 dark:bg-neutral-900">
   <div class="flex flex-col items-center justify-center px-6 py-12 mx-auto md:h-1/2-screen">
        <div class="w-full bg-white rounded-md drop-shadow-md md:mt-0 md:max-w-screen-lg xl:p-0 dark:bg-neutral-800">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-neutral-900 md:text-2xl dark:text-white">
                    {{#isNewRecipe id}}
                    <p>Create New Recipe</p>
                    {{else}}
                    <p>Edit Your Recipe</p>
                    {{/isNewRecipe}}
                </h1>
                <form id="recipeform" class="space-y-4 md:space-y-6" data-recipeid="{{id}}" target="_self" method="POST">
                    <div class="flex-row md:columns-2 justfiy-between">
                        <div>
                            <label for="recipeName"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Recipe Name</label>
                            <input type="text" name="recipeName" id="recipeName"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="Recipe Name" required="" value="{{name}}">
                        </div>
                        <div>
                            <label for="recipeSeenIn"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">As Seen In</label>
                            <input type="text" name="recipeSeenIn" id="recipeSeenIn"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="TV show, Movie, or Game" required="" value="{{seenIn}}">
                        </div>
                        <div>
                            <label for="recipeDescription"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Description</label>
                            <textarea type="text" name="recipeDescription" id="recipeDescription"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="Brief Recipe Description" rows="3" required="" value="{{description}}"></textarea>
                        </div>
                        <div>
                            <label for="recipeThumbnail"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Recipe Thumbnail URL</label>
                            <input type="text" name="recipeThumbnail" id="recipeThumbnail"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="https://" required="" value="{{thumbnail}}">
                        </div>
                        <div>
                            <label for="recipeComplexity"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Complexity</label>
                            <input type="text" name="recipeComplexity" id="recipeComplexity"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="Simple" required="" value="{{complexity}}">
                        </div>
                        <div class="columns-2">
                            <label for="recipeActiveTime"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Active Time</label>
                            <input type="text" name="recipeActiveTime" id="recipeActiveTime"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="30" required="" value="{{activeTime}}">

                            <label for="recipeActiveTimeUOM"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">UOM</label>
                            <input type="text" name="recipeActiveTimeUOM" id="recipeActiveTimeUOM"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="min" required="" value="{{activeTimeUOM}}">
                        </div>
                        <div class="columns-2">
                            <label for="recipeTotalTime"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Total Time</label>
                            <input type="text" name="recipeTotalTime" id="recipeTotalTime"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="1" required="" value="{{totalTime}}">

                            <label for="recipeTotalTimeUOM"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">UOM</label>
                            <input type="text" name="recipeTotalTimeUOM" id="recipeTotalTimeUOM"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="h" required="" value="{{totalTimeUOM}}">
                        </div>
                        <div>
                            <label for="recipeIngredients"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Igredients</label>
                            <textarea type="text" name="recipeIngredients" id="recipeIngredients"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="List of Ingredients" rows="4" required="" value="{{ingredients}}"></textarea>
                        </div>
                        <div>
                            <label for="recipeInstructions"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Instructions</label>
                            <textarea type="text" name="recipeInstructions" id="recipeInstructions"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="List of Instructions" rows="4" required="" value="{{instructions}}"></textarea>
                        </div>
                    </div>
                    <button type="submit"
                        class="w-full text-white bg-green-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Save</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="/js/recipe-edit.js"></script>