<section class="bg-white dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen">
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Edit Your Recipe
                </h1>
                <form id="recipeform" class="space-y-4 md:space-y-6 " data-recipeid="{{id}}" target="_self" method="POST">
                    <div>
                        <label for="recipeName"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Recipe Name:</label>
                        <input type="text" name="recipeName" id="recipeName"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Recipe Name" required="" value="{{name}}">
                    </div>
                    <div>
                        <label for="recipeSeenIn"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seen In:</label>
                        <input type="text" name="recipeSeenIn" id="recipeSeenIn"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Seen In" required="" value="{{seenIn}}">
                    </div>
                    <div>
                        <label for="recipeDescription"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description:</label>
                        <input type="text" name="recipeDescription" id="recipeDescription"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Description" required="" value="{{description}}">
                    </div>
                    <div>
                        <label for="recipeActiveTime"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Active Time:</label>
                        <input type="text" name="recipeActiveTime" id="recipeActiveTime"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="30" required="" value="{{activeTime}}">
                        <label for="recipeActiveTimeUOM"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">UOM</label>
                        <input type="text" name="recipeActiveTimeUOM" id="recipeActiveTimeUOM"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="min" required="" value="{{activeTimeUOM}}">
                            <select id="testName" name="testName" data-value="{{activeTimeUOM}}">
                                {{#each timeUOMs as |option|}}
                                <option value="{{option.value}}">{{option.display}}</option>
                                {{/each}}
                            </select>
                    </div>
                    <div>
                        <label for="recipeTotalTime"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Total Time:</label>
                        <input type="text" name="recipeTotalTime" id="recipeTotalTime"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="1" required="" value="{{totalTime}}">
                        <label for="recipeTotalTimeUOM"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">UOM</label>
                        <input type="text" name="recipeTotalTimeUOM" id="recipeTotalTimeUOM"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="h" required="" value="{{totalTimeUOM}}">
                            <select id="testName2" name="testName2" data-value="{{totalTimeUOM}}">
                                {{#each timeUOMs as |option|}}
                                <option value="{{option.value}}">{{option.display}}</option>
                                {{/each}}
                            </select>
                    </div>
                    <div>
                        <label for="recipeComplexity"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Complexity</label>
                        <input type="text" name="recipeComplexity" id="recipeComplexity"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Simple" required="" value="{{complexity}}">
                    </div>
                    <button type="submit"
                        class="w-full text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700">Save</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="/js/recipe-edit.js"></script>