<section class="bg-neutral-100 dark:bg-neutral-900">
    <div class="flex flex-col items-center justify-center px-6 py-12 mx-auto md:h-1/2-screen">
        <div class="w-full bg-white rounded-md drop-shadow-md md:mt-0 md:max-w-screen-lg xl:p-0 dark:bg-neutral-800">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <div class="flex justify-between">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-neutral-900 md:text-2xl dark:text-white">
                        {{#isNewRecipe id}}
                        <p>Add New Recipe</p>
                        {{else}}
                        <p>Edit Recipe</p>
                        {{/isNewRecipe}}
                    </h1>
                    <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl">
                        <i id="deleteButton" data-recipeid="{{id}}" class="text-neutral-500 hover:cursor-pointer hover:text-red-500 fa-regular fa-trash-can"></i>
                    </h1>
                </div>
                
                <form id="recipeform" class="space-y-4 md:space-y-6" data-recipeid="{{id}}" target="_self" method="POST">
                    <div class="flex-row md:columns-2 justfiy-between align-between">
                        <div>
                            <label for="recipeName"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Recipe
                                Name</label>
                            <input type="text" name="recipeName" id="recipeName"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="Recipe Name" required="" value="{{name}}">
                        </div>
                        <div>
                            <label for="recipeThumbnail"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Recipe Image URL</label>
                            <input type="text" name="recipeThumbnail" id="recipeThumbnail"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="https://" value="{{thumbnailURL}}">
                        </div>
                        <div>
                            <label for="recipeSeenIn"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">As Seen
                                In</label>
                            <input type="text" name="recipeSeenIn" id="recipeSeenIn"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="TV show, Movie, or Game" required="" value="{{seenIn}}">
                        </div>
                        <div>
                            <label for="recipeComplexity"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Complexity <span class="text-neutral-500">(eg.Simple, Intermediate, Expert)</span></label>
                            <input type="text" name="recipeComplexity" id="recipeComplexity"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="Simple" required="" value="{{complexity}}">
                        </div>
                        <div class="columns-2 gap-2">
                            <label for="recipeActiveTime"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Active
                                Time</label>
                            <input type="text" name="recipeActiveTime" id="recipeActiveTime"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="30" required="" value="{{activeTime}}">

                            <label for="recipeActiveTimeUOM"
                                class="block invisible mb-1 text-sm font-medium text-neutral-900 dark:text-white">UOM</label>
                            <select
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                id="recipeActiveTimeUOM" name="recipeActiveTimeUOM" data-value="{{activeTimeUOM}}">
                                {{#each timeUOMs as |option|}}
                                <option value="{{option.value}}">{{option.display}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="columns-2 gap-2">
                            <label for="recipeTotalTime"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Total
                                Time</label>
                            <input type="text" name="recipeTotalTime" id="recipeTotalTime"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="1" required="" value="{{totalTime}}">

                            <label for="recipeTotalTimeUOM"
                                class="block invisible mb-1 text-sm font-medium text-neutral-900 dark:text-white">UOM</label>
                            <select
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                id="recipeTotalTimeUOM" name="recipeTotalTimeUOM" data-value="{{totalTimeUOM}}">
                                {{#each timeUOMs as |option|}}
                                <option value="{{option.value}}">{{option.display}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div>
                            <label for="recipeSource"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Original Recipe Link</label>
                            <input type="text" name="recipeSource" id="recipeSource"
                                class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="https://" value="{{sourceURL}}">
                        </div>
                        <div>
                            <label for="recipeDescription"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Description</label>
                            <textarea type="text" name="recipeDescription" id="recipeDescription"
                                class="resize-none bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="Please describe your recipe..." rows="4" required="" value="{{description}}">{{description}}</textarea>
                        </div>
                        <div>
                            <label for="recipeIngredients"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Igredients <span class="text-neutral-500">(please include amount & uom)</span></label>
                            <textarea type="text" name="recipeIngredients" id="recipeIngredients"
                                class="resize-none bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="2 Slices of Bread &#10;2 Tbsp Butter..." rows="6" required="" value="{{ingredients}}">{{ingredients}}</textarea>
                        </div>
                        <div>
                            <label for="recipeInstructions"
                                class="block mb-1 text-sm font-medium text-neutral-900 dark:text-white">Instructions <span class="text-right text-neutral-500">(please number your steps)</span></label>
                            <textarea type="text" name="recipeInstructions" id="recipeInstructions"
                                class="resize-none bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-neutral-300 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white caret-green-500 mb-2"
                                placeholder="1. Grab your slices of bread. &#10;2. Take a knife and spread the butter on..." rows="5" required="" value="{{instructions}}">{{instructions}}</textarea>
                        </div>
                        <button type="submit" class="w-full mt-1.5 items-end text-white bg-green-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            {{#isNewRecipe id}}
                            <p>Add Recipe</p>
                            {{else}}
                            <p>Update</p>
                            {{/isNewRecipe}}
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</section>

<script src="/js/recipe-edit.js"></script>